.updateTopic-div {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.updateTopic-div div.form-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 500px;

}

.updateTopic-div input.create_topic {
    background-color: #ffffff;
    height: 30px;
    border: none;
    border-radius: 5px;
    width: 100px;
    font-family: inherit;
    margin-left: 10px;
}

.updateTopic-div input#id_topic_name {
    background-color: #ffffff;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-family: inherit;
    padding: 1rem;
}

#id_topic_name:focus {
    outline: none;
}


.updateTopic-div .update_topic:hover {
    cursor: pointer;
}
