.topic-container {
    display: grid;
    grid-template-columns: 1fr 4fr;

    padding: 1rem;
    gap: 1rem;


}

.left-topic {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.right-topic {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right-topic .topic-info {
    background-color: #1b65c5;
    border-radius: 5px;
    padding: 5px;
    height: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #F0F8FF;
}