{% extends 'main.html' %}
{% load static %}
{% block title %} Profiles {% endblock title %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'styles/social/find_profiles.css' %}">
{% endblock css_file %}

{% block content %}
  <div class="profiles-div">
    <div class="profile-div-title">
      Profiles
    </div>
    <div class="profiles">
      {% for profile in profiles %}

        <a href="{% url 'profile' profile.name %}">
          <div class="profile">
            <div class="upper">
              <p class="date-created">{{ profile.date_joined }}</p>
              <p class="no-of-flashcards">{{ profile.flashcard_set.count }} flashcards</p>
            </div>
            <div class="bottom">
              <div class="left">
                <img src="{{ profile.avatar.url }}" >
              </div>
              <div class="right">
                <p>{{ profile.name }}</p>
                {% if profile.education == 'HSC' %}
                  <p>High School</p>
                {% elif profile.education == 'COL' %}
                  <p>College</p>
                {% elif profile.education == 'MSC' %}
                  <p>Middle School</p>
                {% elif profile.education == 'GSC' %}
                  <p>Graduate School</p>
                {% endif %}
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>


  </div>




{% endblock content %}