.file-container {
    height: 245px;
    width: 100%;
    border-radius: 5px;
    padding: 1rem;

    font-size: 11px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;

    background-color: #3b8585;

    transition: background-color 0.2s ease-in-out;
}

.file-container:hover {
    background-color: #028181;
}

.file-container a p {
    font-size: 15px;
}

.file-div {
    min-height: 50px;
    max-width: 250px;
    border-radius: 5px;
    padding: 5px;
    background-color: #68a6a6;
}

.file-div p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}