a {
    text-decoration: none;
    color: #ffffff;
    
}

.notes-container {
    border-radius: 5px;
    background-color: #FFA07A;
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow: auto;
    height: 325px;

    transition: background-color 0.3s ease-in-out;
}

.notes-container:hover {
   background-color: #ea7c58;
}

.notes-body {
    display: flex;
    flex-direction: column;
    overflow: visible;
    gap: 5px;
}

.notes-header {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;

    color: #000000;
}


.notes-element {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 4px;
    background-color: rgba(253, 253, 253, 0.2);
    padding: 5px;
    transition: background-color 0.3s ease-in-out;
}

.notes-element:hover, .notes-paragraph:hover {
    background-color: rgba(29, 87, 232, 0.65);
    cursor: pointer;
}

.notes-body a .notes-element {
    text-decoration: none;
    color: black;
}

.notes-body a .notes-element .todo-element-paragraph {
    font-size: 0.7rem;
    transition: background-color 0.3s ease-in-out;
}

.notes-element-title {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.9);
}

.notes-element-paragraph {
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.97);
}