a {
    text-decoration: none;
    color: #ffffff;
    
}

.notes-container {
    border-radius: 5px;
    background-color: #dc7227;
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow: visible;
    height: 340px;
}

.notes-container:hover {

}

.notes-body {
    display: flex;
    flex-direction: column;
    overflow: visible;
    gap: 5px;
}

.notes-header {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}


.notes-element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    transition: background-color 0.3s ease-in-out;
}

.notes-element:hover, .notes-paragraph:hover {
    background-color: #e81d1d;
    cursor: pointer;
}

.notes-body .todo-element a {
    text-decoration: none;
    color: white
}

.notes-body .todo-element a .todo-element-paragraph {
    font-size: 0.7rem;
    transition: background-color 0.3s ease-in-out;
}

.notes-element-title {
    font-size: 0.8rem;
    color: #c7c7c7;
}

.notes-element-paragraph {
    font-size: 0.6rem;
    color: white;
}