.to-do-container {
    border-radius: 5px;
    background-color: #87CEEB;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 200px;
    padding: 0.5rem;

    transition: background-color 0.3s ease-in-out;
}

.to-do-container:hover {
    background-color: #5da8be;

}

.to-do-body {
    display: flex;
    flex-direction: column;
    overflow: visible;
    gap: 5px;

}

.to-do-header {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;

    color: #000000;
}


.todo-element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 4px;
    background-color: rgba(236, 236, 236, 0.32);
    padding: 5px;
    transition: background-color 0.3s ease-in-out;

    color: black;
}

.todo-element:hover, .todo-element-paragraph:hover {
    background-color: #d0ba3b;
    cursor: pointer;
}

.to-do-body a {
    text-decoration: none;
    color: white;
}

.to-do-body a .todo-element .todo-element-paragraph {
    font-size: 0.7rem;
    transition: background-color 0.3s ease-in-out;
}