{% extends 'main.html' %}

{% load static %}

{% block title %} Completed {% endblock title %}
{% block css_file %}
  <link rel="stylesheet" href="{% static 'styles/study/completed.css' %}"> {% endblock css_file %}
{% block content %}
  <div class="completed">
    <p class="completed-p">You completed all the flashcards</p>
    <p>You studied {{ total_flashcards }} flashcards</p>

      <div class="home-button">
        <a href="{% url 'home' %}"><button class="go-home">Go to Home</button></a>
      </div>
  </div>





{% endblock content %}