{% extends 'main.html' %}

{% block title %}
  Credit
{% endblock title %}

{% block content %}
  <div>
    <p>manshagraphics</p>
    <p>logo icon</p>
  </div>
  <div>
    <p><a href="https://www.flaticon.com/">flaticon.com</a></p>
    <p>image website almost all the images are this website</p>
  </div>
  <div>
    <p><a href="https://realfavicongenerator.net/">realflavicongenerator.com</a></p>
    <p>tab icon</p>
  </div>
  <div>
    <p> Catalin Fertu</p>
    <p>search icon</p>
  </div>
    <<div>
    <p>Pixel perfect, SeyfDesigner</p>
    <p>add icon</p>
  </div>
   div>
    <p>joalfa</p>
    <p>close icon</p>
  </div>





{% endblock content %}