{% extends 'main.html' %}
{% load static %}
{% block title %} Delete {{ obj }} {% endblock title %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'styles/delete.css' %}">
{% endblock css_file %}

{% block content %}
    <main class="delete-item">
        <div class="container">
            <form action="" class="form" method="post">
                {% csrf_token %}
                <div class="form_text">
                    <p>Are you sure you want to delete your account?</p>
                </div>
                <div class="button-div">
                    <a href="{{ request.META.HTTP_REFERER }}"><button class="cancel">Cancel</button></a>
                    <input type="submit" class="btn btn--main" value="Confirm" >
                </div>
            </form>
        </div>
    </main>





{% endblock content %}