.home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;

    color: #ffffff;
    font-family: "JetBrains Mono", "Segoe UI", serif;
}


.to-do-container {
    border-radius: 5px;
    background-color: #343434;

    padding: 0.5rem;


}

