
/*Register time*/
.settings-page {
    color: white;
    font-family: "JetBrains Mono", "Segoe UI", serif;
    font-size: 0.9rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.settings-page div {
    /*width: 30%;*/
}


.settings-page div div p {
    font-size: 1.2rem;
}

.settings-page div div div .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    background-color: transparent;
    padding: 2rem;
    width: 80%;
    border-radius: 8px;
}

.settings-page div div div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 2rem;
    width: 400px;
}

.settings-page div div form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.settings-page div div form div input {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0.5rem;
}

.settings-page div div form input {
    height: 30px;
    border: none;
    border-radius: 5px;
    font-family: "JetBrains Mono", "Segoe UI", serif;
    padding: 5px;
}

.settings-page div div p.login-questionmark {
    font-size: 1rem;
}

.settings-page div div p.login-questionmark a {
    text-decoration: none;
    color: #00d2ff;
    transition: color 200ms ease-in-out;
}

.settings-page div div p.login-questionmark a:hover {
    color: greenyellow;

}

.settings-page div div div.message-container {
    color: red;
    font-size: 1.2rem;
}

.settings-page div div form textarea {
    border-radius: 8px;
    padding: 5px;
    font-family: "Segoe UI", "JetBrains Mono", serif;
    border: none;
}

.settings-page div div form textarea:hover {
    border: none;
    outline: none;
}
.settings-page div div form textarea:focus {
    border: none;
    outline: none;
}


.settings-page div div form #id_avatar {
    height: 40px;
}

.settings-page div div form #id_avatar::file-selector-button {
    height: 30px;
    border: none;
    border-radius: 5px;
    font-family: "JetBrains Mono", "Segoe UI", serif;
    padding: 5px;
    background: #ffff;

}


.settings-page div div form {
    margin-bottom: 2rem;
}
