{% extends 'main.html' %}
{% load static %}
{% block title %} Create {% endblock title %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'styles/components/create.css' %}">
{% endblock css_file %}

{% block content %}
  <div class="create-things-div">
      <div class="message-container">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </div>
    <div class="form">
      <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ request.GET.next }}">
        {% for field in forms %}
          <div class="form-group">
            <label for="thing-label">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
          <input type="submit" value="Submit" class="submit-button">

      </form>

    </div>
  </div>

{% endblock content %}
