{% extends 'main.html' %}
{% load static %}
{% block title %} {{ file.file_name }} {% endblock title %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'styles/important/file_page.css' %}">
{% endblock css_file %}

{% block content %}
  <div class="file_page-container">
    <div class="left-file_page">
      {% include 'flashcards/components/todo.html' %}
      {% include 'flashcards/components/notes.html' %}
    </div>
    <div class="right-file_page">
        <div class="file-info">

            <div class="file-name">
                <h2>{{ file.file_name }}</h2>
            </div>

        <div class="file-information-image">

        <div class="file-information-description">
            <div class="file-size-time">
                <p>{{ file.file_size }}MB</p>
                <p>{{ file.upload_time|timesince }} ago</p>
            </div>

             <div class="file-owner-description">
                <p>{{ file.description }}</p>
                <p>{{ file.owner.email }}</p>
            </div>

        </div>

            {% if file.type == 'DOCX' %}
                <img src="{% static 'images/file_types/google-docs.png' %}" alt="Document">
            {% elif file.type == 'PDF' %}
                <img src="{% static 'images/file_types/pdf.png' %}" alt="PDF">
            {% elif file.type == 'PNG' or file.type == 'JPG' or file.type == 'JPEG' or file.type == 'WEBP' %}
                <img src="{% static 'images/file_types/picture.png' %}" alt="Picture">
            {% elif file.type == 'MP4' or file.type == 'WMV' or file.type == 'MKV' %}
                <img src="{% static 'images/file_types/video.png' %}" alt="">
            {% else %}
                <img src="{% static 'images/file_types/other.png' %}" alt="Others">
            {% endif %}
        </div>
        <div class="file-download-button">
            <a href="{% url 'download_file' file.id %}" class="download-link-a">
                Download
            </a>
        </div>  
    </div>



    </div>




  </div>


{% endblock content %}