{% load static %}
<link rel="stylesheet" href="{% static 'styles/important/flashcard_list.css' %}">
<div class="flashcard-list">
  <div class="flashcard">
    {% for flashcard in flashcards %}
      <a href="{% url 'flashcard' current_subject.id current_subject.id flashcard.id %}">
        <div class="flashcard-element">
          <div>
            <p class="flashcard-name">{{ flashcard.question }}</p>

          </div>
          <div class="date-updated">
            <p>{{ flashcard.updates | timesince }}</p>
          </div>


        </div>
      </a>
    {% endfor %}
  </div>

  <a href="">
    <hr>
    <p class="flashcard-title">Flashcards</p>
  </a>


</div>