{% extends 'main.html' %}
{% load static   %}
{% block title %} Update Subject {% endblock title %}
{% block css_file %} <link rel="stylesheet" href="{% static 'styles/important/subject_update.css' %}"> {% endblock css_file %}
{% block content %}

  <div class="create-things-div">
      <div class="message-container">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </div>
    <div class="form">
      <form action="" method="post" enctype="multipart/form-data" class="update-form">
        {% csrf_token %}

        {% for field in forms %}
          <div class="form-group">
            <label for="thing-label">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
          <input type="submit" value="Submit" class="submit-button">
      </form>
      <form action="{% url 'delete_subject' subject_id=current_subject.id %}" method="post" class="delete-form">
        {% csrf_token %}
        <button type="submit" class="delete-button">Delete</button>
      </form>

    </div>


  </div>






{% endblock content %}