{% load static %}
<link rel="stylesheet" href="{% static 'styles/important/subjects_list.css' %}">

<div class="subjects-list">

  <a href="{% url 'create_subjects' %}"><div>
      <p class="subject-title">Subjects</p>
      <hr>
    </div>
  </a>

 <div class="subject">
  {% for subject in subjects %}
      <a href="{% url 'subject' subject.id %}">
        <div class="subjects-element" style='background-image: url("{{ subject.picture.url }}")'>
            <p class="subject-name">{{ subject.subject_name }}</p>
{#            <p class="subject-info"></p> todo: give information and animation like the welcome message #}
          <div class="time-since-div">
            <p class="time_updated">{{ subject.updated | timesince }}</p>
          </div>
        </div>
      </a>
  {% endfor %}
{#todo: add back button#}

</div>
</div>