{% load static %}
<link rel="stylesheet" href="{% static 'styles/important/topics_list.css' %}">

<div class="topics-list">

  <div class="topic">
    {% for topic in topics %}
      <a href="{% url 'topic' topic_id=topic.id subject_id=current_subject.id %}">
        <div class="topic-element">
          <p class="topic-name">{{ topic.topic_name }}</p>
        </div>
      </a>
    {% endfor %}
  </div>

  <a href="{% url 'create_topic' pk=current_subject.id %}">
    <hr>
    <p class="topic-title">Topics</p>
  </a>
</div>
